.votebox{position:relative;z-index:66;}
/* barbox */
.barbox{height:16px;line-height:16px;overflow:hidden;padding-top:25px;}
.barbox dt a{color:#0048CC;}
.barbox dd{float:left;}
.barbox dd.last{color:#999;}
.barbox dd.barline{width:100px;background:url(../images/jdtbg.png) left center no-repeat;height:16px;overflow:hidden;display:inline;}
.barbox dd.barline div.charts{height:16px;width:5px;overflow:hidden;background:url(../images/barbg.gif) right center repeat-x;border-radius:8px;}

.tab-list h1{
	font-size: 16px;
	font-weight: bold;
}
.tab-list p{
	font-size: 14px;
}
.tab-list a{
	width: 12%;
	font-size:18px;
	color: #F7001E
}
.tab-list1{
	float:left;
	padding-top:20px;
}