@charset "utf-8";
/*页面开始*/
.underNone{border-bottom:none;}
.titleH1{height:40px;line-height:40px;font-size:20px;font-weight:bold;border-bottom:2px solid #ffa804;margin-bottom:5px;}
/*鼠标悬停*/
.title li{height: 58px;width:240px;text-align:center;background-color:#DCDCDC;font-size:17px;float:left;cursor:pointer;line-height:60px;}
.title2 li{height: 40px;width:140px;text-align:center;background-color:#fff;font-size:17px;line-height:40px !important;float:left;cursor:pointer;line-height:22px;}
.title3 li{height: 40px;width:140px;text-align:center;background-color:#fff;font-size:17px;line-height:40px !important;float:left;cursor:pointer;line-height:22px;}
.title4 li{height: 50px;width:240px;text-align:center;background-color:#fff;font-size:17px;float:left;cursor:pointer;line-height: 50px;}
/*失去焦点*/

.title li.cur{
	color:#fff;
	z-index: 1000;
	background-color: #3889D1;
}
/*锯齿*/
.title li.cur:after{
	content: '';
	display:block;
	background:url(../images/nav-arrow.png) repeat-x;
	width: 240px;
	height: 7px;
	position: relative;
	z-index: 1;
}
.title3{
	width: 840px;
	border-bottom:2px solid #EB341F;
}
.title4{
	width: 840px;
	border-bottom:2px solid #000;
}

.title li.cur2{background:#EB341F;color:#ffffff;}
.title li.cur3{background:#EB341F;color:#ffffff;}
.title li.cur4{background:#EAE5EB;color:#FF8138;}

.titleexp li{float:left;margin-right:10px;}
.zong1{clear:both;width:1158px;height:260px;overflow:hidden;}
.zong{clear:both;width:835px;height:400px;overflow:hidden;}
.zong3{clear:both;width:835px;height:335px;overflow:hidden;}
.zong4{clear:both;width:835px;height:374px;overflow:hidden;border-bottom:1px solid #EEEEEE;}

.list1{width:3480px;}
.list{width:4200px;}
.list3{width:4200px;}
.list4{width:1700px;}
/*新年钜惠*/
.list1 .tabCon{float:left;width:1156px;height:250px;}
/*名企推荐*/
.list .tabCon{float:left;width:614px;height:365px;border:1px solid #EEEEEE;margin-left: 17px;margin-top: 10px;}
/*订单动态*/
.list3 .tabCon{float:left;width:840px;height:335px;}
/*优秀案例*/
.list4 .tabCon{float:left;width:580px;height:364px;margin-left: 10px;margin-top: 10px;}

.tabth{width:614px;height:37px;line-height:37px;color:#000;}
.tabth3{width:840px;height:37px;line-height:37px;color:#000;}
.tabth span{display:inline-block;text-align:center;float:left;}
.tabth3 span{display:inline-block;text-align:center;float:left;}
/*#s1,#s2,#s3,#s4,#s5,#s6{height:210px;overflow:hidden;}*/
/*.tabUl{height:212px;overflow:hidden;}*/

.tab-list{
	float:left;
	padding-left: 60px;
	width: 220px;
}
.index-value{
	margin-top: 30px;
}
.list-dapai{
	width: 1160px;
	height: 260px;
	margin:0 auto;
	margin-top:480px;
}
.tabtr{width:614px;height:40px;*height:38px;line-height:40px;*line-height:38px;}
.tabtr3{width:840px;height:40px;*height:38px;line-height:40px;*line-height:38px;}

.tabtr span,.tabtr a{display:inline-block;text-align:center;cursor:pointer;float:left;text-decoration:none;}
.tabtr3 span,.tabtr3 a{display:inline-block;text-align:center;cursor:pointer;float:left;text-decoration:none;}
.clickbtn{border-radius:5px;padding:5px 10px;}
.hot{background:#e25353;color:#ffffff;cursor:pointer;}
.details{background: #4D8DF2;color: #ffffff;}
.pass{background:#b1b2b3;color:#666666;cursor:no-drop;}
.hot-red{
	color: #FF0820;
	padding-left: 115px;
}
.red-right{
	float:right;
	margin-top: -20px;
}
.shanjia ul li{
	padding-top: 20px;
	font-size: 14px;
}
.zuixin{
	width: 320px;
	height: 315px;
}
.zuixin ul li{
	margin-left:25px;
	padding-top: 20px;
	padding-left: 25px;
	font-size: 14px;
	border-bottom:1px dashed #DCDCDC;
	overflow:hidden;
}
.zuixincanyu ul li{
	padding-top: 20px;
	padding-left: 10px;
	font-size: 14px;
	border-bottom:1px solid #DCDCDC; 
	overflow:hidden;
}
.zuixincanyu0{
	border-bottom:1px solid #A4A4A4;
	padding-left:10px;
	font-size:16px;padding-top:3px;
	background-color:#A4A4A4;
	line-height:48px;
	color: #fff;
}